#PyQt5
#napari
absl-py
scikit-image
scikit-video
optax
chex
dm-pix
scikit-learn
numpy==1.21.6
numba==0.55
matplotlib
cython
imgstore
trackpy
tqdm
requests
matplotlib
pandas==1.5
#opencv-python
h5py 
tables==3.9.1
jupyter
https://github.com/alonfnt/dm-haiku/archive/refs/heads/avg_pool_perf.zip
